<div class="banner" id="eau">
  <h1>L'EAU</h1>
</div>
<div class="section-eau">
  <div class="sub-section">
    <h2>1.  CARACTERISATION DES LIQUIDES</h2>
    <hr class="separateur-xl">
    <h3>1.1.  Détection d’un volume d’eau pure</h3>
    <hr class="separateur-l">
    <p>
      Lorsque l’on se déplace vers un verre cylindrique rempli d’un volume V d’eau déposé sur le sol, les baguettes se déplacent vers le verre à partir d’une certaine distance limite D qui varie avec V et avec la température. A 22,0°, on a la relation: <br>
      D = 0,029V, D étant en m et V en ml. Il en résulte qu’il est possible d’évaluer un volume V en utilisant après étalonnage les baguettes de sourcier.
    </p>
    <div class="image">
      <%= image_tag 'eau-pure.WebP' %>
    </div>
    <p>
      La valeur de D est directement liée à la surface plane perpendiculaire à l’axe de détection, limitée par les contours du verre. Pour un même volume d’eau, D dépend de la forme du verre: dans le cas d’un verre cylindrique, D varie linéairement avec V car la hauteur de l’eau dans ce verre est proportionnelle à V, ce qui n’est pas le cas quand le verre n’est pas cylindrique. <br>
      En tournant autour du verre rempli de 200ml d’eau, il est possible avec les baguettes de tracer un cercle de 5,2m de rayon. On peut aussi tracer une série de cercles concentriques en modifiant le volume d’eau dans le verre.
    </p>
    <br>
    <h3>1.2.  Influence du contenant</h3>
    <hr class="separateur-l">
    <p>
      Les réponses varient avec la symétrie du contenant:
      <ul>
        <li>
          Lorsque l’eau est dans un verre cylindrique la détection est radiale quelle que soit la position.
        </li>
        <li>
          Lorsque l’eau se trouve dans un récipient cubique ou parallélipédique la détection n’est possible que dans les deux directions perpendiculaires aux faces verticales.
        </li>
        <li>
          Lorsque le contenant ne présente aucune symétrie, comme une bouteille de plastique déformée, la réponse est nulle.
        </li>
      </ul>
    </p>
    <div class="image">
      <%= image_tag 'contenant.WebP' %>
    </div>
    <br>
    <h3>1.3.  Influence de la position de l’opérateur</h3>
    <hr class="separateur-l">
    <p>
      Il est important de savoir dans les expériences précédentes si la position du verre par rapport à l’opérateur a une importance ou non sur les valeurs de D. Cela revient à identifier la partie du corps de l’opérateur qui joue le rôle de récepteur, sachant que le verre émet un rayonnement sur la distance D limite. <br>
      On pose le verre sur une étagère à 1,0m du sol, niveau auquel se trouvent les mains de l’opérateur placé sur la figure en A. On constate que la valeur de D limite est  égale à 0,7m. Si l’on pose le verre sur le sol à la verticale, l’opérateur qui reste en A, constate que ses baguettes ne répondent plus. Ceci est dû au fait que la distance mains - verre d’eau est supérieure à 0,7m. On constate que tout objet caractérisé au niveau des mains par une valeur de D inférieure à 0,7m ne sont plus détectables lorsqu’elles sont au sol. <br>
      Par contre si l’opérateur tient la même pièce dans la main avec les baguettes il peut détecter l’autre pièce au sol car la distance D limite est multipliée par deux, comme on le verra plus loin.
    </p>
     <div class="image">
       <%= image_tag 'position.WebP' %>
     </div>
    <p>
      On refait la même expérience avec un autre verre d’eau dont la valeur de D mesurée au niveau de l’étagère au point A est égale à 1,3m. Si ce verre est mis à terre, l’opérateur, qui n’a pas bougé, ne détecte plus rien car la distance entre ses mains et le verre au sol est supérieure à la valeur D limite. Il est obligé d’avancer de 0,5m en B pour retrouver le signal. La valeur de D limite passe donc de 1,3 à 0,8m suivant la position du verre. <br>
      Le point B correspond à l’intersection du cercle de rayon D = 1,3m, centré au niveau du verre sur l’étagère, avec l’horizontale du sol. <br>
      La distance AB est d’autant plus grande que D mesuré au niveau des mains de l’opérateur est petit. Inversement, on peut considérer comme négligeable la distance AB lorsque D est supérieur à 3m. Compte tenu que l’opérateur est le plus souvent debout, les valeurs de D sont données à 10cm près.
    </p>
    <p>
      Pour conclure, ce sont donc les mains de l’opérateur qui jouent le rôle de récepteur des signaux émis par les corps étudiés au niveau de ses mains. Il faut donc en tenir compte quand on veut préciser les valeurs de D correspondant à des objets proches de l’opérateur.
    </p>
    <br>
    <h3>1.4.  Influence de la température</h3>
    <hr class="separateur-l">
    <p>
      On opère sur un volume de 100ml: entre 8 et 30°, D croit linéairement avec la température. Pour les plus faibles températures on a intérêt à utiliser un volume V sensiblement plus grand que 100ml pour avoir une meilleure précision.
    </p>
     <div class="image">
        <%= image_tag 'temperature.WebP' %>
     </div>
     <p>
      On peut donc évaluer la température avec les baguettes à partir de la mesure de D si l’on dispose d’une distance suffisante.
     </p>
     <br>
    <h3>1.5.  Interaction entre deux verres d’eau</h3>
    <hr class="separateur-l">
    <p>
      Elle apparait lorsque les baguettes s’orientent au niveau de chaque verre en sens inverse de ce qui est observé avec un seul verre. <br>
      Soit deux verres identiques que l’on remplit d’eau à 21,7°. Le signal dépend de la distance Dm entre les deux verres et de la quantité d’eau: si l’on introduit le même volume V d’eau dans les deux verres, la distance maximale de détection Dm augmente avec V:
    </p>
    <div class="image">
      <%= image_tag 'interaction.WebP' %>
    </div>
    <p>
      D représentant la distance limite déterminée pour un seul verre, on constate que Dm/D = 2 quelle que soit la valeur de V. <br>
      Dans tous les cas, le changement d’orientation des baguettes, ou point nul Z, se situe  au milieu de la distance séparant les deux verres, soit Z=0 <br>
      Si les volumes d’eau diffèrent d’un verre à l’autre, par exemple 100ml dans l’un et 200ml dans l’autre, la distance Dm croit et Z diffère de 0. Le changement d’orientation des baguettes se déplace vers le verre le moins rempli. La valeur de Z répond à la relation Z = 0,5Dm (1-Vref / V) pour V > Vref, soit Z = 1/4Dm. Cette relation est indépendante de la température. <br>
      Il est donc possible avec les baguettes d’évaluer le rapport de volumes de liquide identiques.
    </p>
    <br>
    <h3>1.6.  Influence des surfaces</h3>
    <hr class="separateur-l">
    <p>
      La surface des contenants pour un même poids d’eau joue un rôle déterminant au niveau des valeurs de Dm et de Z. <br>
      On compare les valeurs de Dm et Z selon les positions que prennent deux bouteilles de bière contenante chacune 250ml d’eau. <br>
      Les valeurs de Dm passent successivement de 4,0 à 2,0 puis 2,5m quand elles sont debout, quand les fonds se font face, et quand un fond fait face à une bouteille debout. La valeur de Z est égale à 0 dans les deux premiers cas et diffère de zéro quand les surfaces opposées sont différentes. <br>
      Pour un même poids d’eau, les surfaces mises en jeu sont donc déterminantes.
    </p>
    <div class="image">
      <%= image_tag 'liquide.png' %>
    </div>
    <p>
      Il faut signaler que la détermination des surfaces à partir de la mesure de Z est souvent plus difficile que celle réalisée sur chaque surface isolée, en particulier lorsque leur rapport est élevé.
     </p>
     <br>
    <h2>2.  CARACTERISATION DES SOLUTIONS</h2>
    <hr class="separateur-xl">
    <p>
      L’introduction d’un soluté dans un liquide modifie souvent la réponse des baguettes. Les cas des solutions aqueuses puis des liquides alimentaires sont examinés.
    </p>
    <br>
    <h3>2.1.  Solution de NaCl: mesure de D</h3>
    <hr class="separateur-l">
    <p>
      L’ajout progressif de chlorure de sodium dans un volume constant V=100ml entraine une diminution sensible de la valeur de D par suite de l’accroissement de conductivité de la solution. La variation est approximativement linéaire à condition de rester dans un faible domaine de concentration.
    </p>
    <div class="image">
      <%= image_tag 'titrage-2.png' %>
    </div>
    <br>
    <h3>2.2.  Caractérisation de la dureté d’une eau</h3>
    <hr class="separateur-l">
    <p>
      Il est possible d’évaluer la dureté de l’eau du robinet en comparant sa distance D avec celle de l’eau distillée à même température. <br>
      Une eau dure est une eau riche en calcium. Elle est caractérisée par son degré hydrotimétrique F. Celle que nous examinons a une valeur de 28°F ce qui correspond à 28x4=112mg/l de calcium, d’où une concentration égale à 2,8&times10<sup>-3</sup>M. Le calcium se trouvant principalement sous forme d’ions libres Ca<sup>2+</sup> , la solution est donc conductrice. <br>
      On voit sur la figure que la valeur de D varie de 4,5m à 2,8m lorsque l’on passe de l’eau distillée, très peu ionisée, à l’eau du robinet conductrice, le volume des solutions examinées étant de 100ml. Il est possible de suivre l’évolution pratiquement linéaire de D avec la dilution de l’eau du robinet dans l’eau distillée.
    </p>
    <div class="image">
      <%= image_tag 'titrage-1.png' %>
    </div>
    <br>
    <h3>2.3.  Liquides alimentaires</h3>
    <hr class="separateur-l">
    <h4>2.3.1.  Comportement de l'eau sucré</h4>
    <hr class="separateur-xs">
    <p>
      On prépare une solution de sucre en mettant 1 morceau dans 500ml d’eau. On  ajoute de 0,5 à 3ml de cette solution dans un volume V=100ml. <br>
      Cet ajout entraine une diminution sensible de la valeur de D qui passe de 3,0 à 0,6m.
    </p>
    <div class="image">
      <%= image_tag 'eau-sucre.WebP' %>
    </div>
    <p>
      Cette diminution n’est pas due à un accroissement de conductivité comme avec NaCl car les solutions sucrées ne sont pas conductrices. <br>
      Il est connu que l’ajout de sucre provoque la destruction du réseau tétraédrique de l’eau qui se traduit par une augmentation de la viscosité des solutions. <br>
      Il n’est pas exclu que la valeur de D varie avec la nature du sucre analysé. On a les mêmes résultats avec le Candérel: la valeur de D relative à un volume de 100ml d’eau passe successivement de 3,0 à 1,1 puis à 0,5m après ajout d’un puis de deux comprimés.
    </p>
    <br>
    <h4>2.3.2.  Eau + café, eau + thé</h4>
    <hr class="separateur-xs">
    <p>
      Les baguettes ne donnent aucun signal devant une tasse de thé ou de café, froide ou chaude. On constate que les solutions sont troubles. On retrouvera ce comportement dans le cas de l’eau légèrement savonneuse.
    </p>
    <p>
      Comme nous le verrons plus loin l’eau peut inhiber le signal d’une pièce de monnaie. Par contre je constate que la tasse de thé ou de café ne l’inhibe pas.
    </p>
    <br>
    <h4>2.3.3.  Essais divers</h4>
    <hr class="separateur-xs">
    <p>
      Les essais ont été réalisés sur un volume V=100 ml pour les différents liquides à 21,7°.
    </p>
    <div class="image">
      <%= image_tag 'tab-liquides.WebP' %>
      <%= image_tag 'tab-minerales.WebP' %>
    </div>
    <p>
      <ul>
        <li>
          Les valeurs de D pour l’huile, la bière sont nettement supérieures à celle de l’eau, alors que celles du cidre du vinaigre, de la Quetsche sont sensiblement inférieures.
        </li>
        <li>
          Le Martini et l’eau donnent des résultats pratiquement identiques. Il sera intéressant de voir si les vins d’origine différente se comportent de la même manière.
        </li>
        <li>
          La réponse du lait disparait si l’on y ajoute du thé ou du café. Elle diminue si l’on y ajoute du sucre.
        </li>
        <li>
          Il y a de fortes différences entre les eaux minérales. D diminue quand la charge minérale à sec augmente.
        </li>
        <li>
          Il n’y pas d’interaction entre l’eau pure et ces divers liquides ou entre ces liquides.
        </li>
      </ul>
    </p>
    <br>
    <h4>2.3.4.  Influence de la température sur les mesures de D</h4>
    <hr class="separateur-xs">
    <p>
      La caractérisation d’un liquide par sa valeur D implique un contrôle strict de la température. <br>
      Pour un volume V de 100ml, quand la température passe de 21,7° à 14,0°, la valeur de D pour l’eau passe de 3,0m à 1,8m et celle de la bière de 5,0m à 3,0m. <br>
      Lors de l‘étude des interactions entre deux liquides, il est impératif qu’ils soient tous deux à la même température: les baguettes ne donnent plus de signal lorsqu’il y a plus de 1,5° entre les deux verres. <br>
      Il est donc possible avec les baguettes de mettre en évidence de faibles différences de température entre deux liquides de même composition.
    </p>
    <br>
    <h4>2.3.5.  Suivi de réactions chimiques</h4>
    <hr class="separateur-xs">
    <p>
      L’étude précédente menée sur les solutions de KCl montrent que les baguettes sont capables de détecter la présence des ions en solution, jouant ainsi le rôle d’un conductimètre. <br>
      Ce paragraphe a pour objet de présenter quelques applications basées sur la détection des ions montrant l’efficacité des baguettes pour déterminer la force des acides et des bases dans l’eau, de réaliser des titrages, et de donner des informations sur les propriétés de quelques solvants non aqueux.
    </p>
    <p>
      <strong>Force des acides et des bases dans l’eau</strong> <br>
      On détermine la limite de détection D au sol des solutions d’acide et de base, de concentration croissante, contenues dans un volume constant. <br>
      Les courbes D=f(C) relatives aux acides HCl, AcOH et PhOH ont la même allure que celle relative à NaCl (cf. 2.2): elles montrent que la valeur de D pour une concentration donnée est d’autant plus faible que l’acide est plus fort: HCl est totalement dissocié alors que l’acide acétique ne l’est que partiellement et génère donc moins d’ions, le phénol PhOH en libérant encore moins.
    </p>
    <div class="image">
      <%= image_tag 'acide-base-1.WebP' %>
    </div>
    <p>
      On observe les mêmes variations au niveau des bases, la pyridine qui est une base faible, génère moins d’ions que l’ammoniac et que la soude qui est une base forte.
    </p>
    <div class="image">
      <%= image_tag 'acide-base-2.WebP' %>
    </div>
    <p>
      <strong>Titrages acide base</strong> <br>
      L’utilisation des baguettes permet également de suivre les titrages acides bases. <br>
      Lors du titrage de HCl par la soude, l’acide, à la concentration 10<sup>-3</sup> M est introduit dans un volume V =100ml. On choisit une solution concentrée en NaOH de telle manière que son ajout ne modifie pratiquement pas le volume de la solution.
    </p>
    <p>
      La réaction de titrage de HCl par la soude est la suivante: HCl + NaOH = NaCl + H<sub>2</sub>O <br>
      Les valeurs de conductivité des cations et des anions mis en jeu sont les suivantes:  &#923<sub>H<sup>+</sup></sub> et &#923<sub>Na<sup>+</sup></sub> sont égales à 34,9 et 5,0 S m<sup>2</sup> mol<sup>-1</sup>, et celles des anions HO<sup>-</sup> et Cl<sup>-</sup> égales à 19,8 et 7,6 S m<sup>2</sup> mol<sup>-1</sup>.
    </p>
    <p>
      Au départ la conductivité de la solution est égale à &#923 = 10<sup>-3</sup> (&#955<sub>H<sup>+</sup></sub> + &#955<sub>Cl<sup>-</sup></sub>) = 0,395 S m<sup>-1</sup>. Lors de l’ajout de soude on remplace progressivement HCl par NaCl. La conductivité diminue car &#955<sub>Na<sup>+</sup></sub> < &#955<sub>H<sup>+</sup></sub> et D augmente. Au point équivalent NaCl est à la concentration 10<sup>-3</sup>M soit &#923 = 0,012 S m<sup>-1</sup>. <br>
      Après le point équivalent la conductivité augmente lors de l’addition de de soude et D diminue. La courbe expérimentale suit ces prévisions.
    </p>
    <div class="image">
      <%= image_tag 'titrage-acide-base.WebP' %>
    </div>
    <p>
      <strong>Caractérisation des solvants autres que l’eau</strong> <br>
      Sur le plan de la Chimie, il sera intéressant d’examiner le comportement de solvants présentant, par exemple, des analogies au niveau des conductivités, des viscosités, des constantes diélectriques, et de suivre leurs évolutions au cours de réactions chimiques ayant un intérêt industriel (titrages, extraction liquide-liquide). <br>
      Les quelques données groupées dans le tableau montrent que le méthanol et l’éthanol ont des valeurs de D sensiblement différentes et que celle du dichloroéthane, qui a une constante diélectrique faible, est la plus petite.
    </p>
    <div class="image">
      <%= image_tag 'tab-acide-base.WebP' %>
    </div>
    <br>
    <h2>3.  CONCLUSION</h2>
    <hr class="separateur-xl">
    <P>
      Il ressort de cette étude sur les liquides que l’utilisation des baguettes permet de caractériser des milieux les plus divers, en évaluant les volumes engagés, les concentrations, les températures, et de suivre éventuellement leurs évolutions au cours d’un titrage ou d’un processus chimique. <br>
      Il apparait que la génération d’ions au cours d’une réaction est souvent le facteur déterminant qui agit sur le signal des baguettes. Le fait qu’elles se comportent pratiquement comme un conductimètre offre de multiples possibilités dans les secteurs les plus variés.
    </P>
  </div>
</div>
