<div class="banner" id="eau">
  <h1>L'EAU</h1>
</div>
<div class="section">
  <div class="sub-section">
    <h2>1.  RECHERCHE DE VEINES D'EAU</h2>
    <hr class="separateur-xl">
    <p>
      La détection des veines d’eau avec les baguettes de sourcier existe depuis la nuit des temps. L’implantation sur des veines d’eau des menhirs au néolithique et des premières églises romanes au début du Xè siècle est l’indice que nos lointains ancêtres avaient déjà une bonne connaissance du sous-sol aquifère. <br>
      Pourtant certaines critiques, parfois virulentes, mettent en doute la technique et ses résultats. Des tentatives d‘explication ont été avancées par des scientifiques faisant intervenir l’influence du champ magnétique, les conventions mentales, plus récemment la mécanique quantique. <br>
      Je me borne ici à donner des indications sur la méthode que j’ai utilisée. Il est important de souligner que les signaux observés dépendent de l’opérateur: par exemple certains verront leurs baguettes en L s’écarter sur une veine d’eau alors que d’autres les verront se croiser.
    </p>
    <br>
    <h3>1.1.  Détection</h3>
    <hr class="separateur-l">
    <p>
      La pratique demande une forte concentration. Toute gêne extérieure comme le bruit, le mouvement, la présence d’une personne, peut compromettre les résultats. Il est donc conseillé d’opérer seul et détendu. <br>
      Les baguettes en L remplacent souvent les baguettes de coudrier moins commodes à utiliser dans la mesure où elles demandent un effort de torsion relativement important. <br>
      La figure suivante précise les caractéristiques des baguettes utilisées ainsi que la démarche pour localiser une petite veine d’eau.
    </p>
    <div class="image double ">
      <%= image_tag 'sourcier.png' %>
      <%= image_tag 'detection.png' %>
    </div>
    <p>
      La vitesse de déplacement de l’opérateur joue un rôle essentiel: dans cette première étape, la marche se fait à la vitesse habituelle. Il est important de préciser que les baguettes ne détectent pas l’eau immobile.
    </p>
    <br>
    <h3>1.2.  Profondeur</h3>
    <hr class="separateur-l">
    <p>
      La figure suivante précise comment déterminer la profondeur d’une petite veine d’eau. Contrairement au cas précédent, la détermination implique une marche lente vers la veine d’eau pour la détection des trois signaux.
    </p>
    <div class="image">
      <%= image_tag 'profondeur.png' %>
    </div>
    <p>
      Lorsque la veine d’eau devient plus large et plus épaisse, on passe de trois à cinq puis à sept signaux parallèles à la veine d’eau. Le signal des baguettes change alternativement au cours de la progression perpendiculaire.
    </p>
    <div class="image">
      <%= image_tag 'mesure.png' %>
    </div>
    <p>
      Quand la veine d’eau est étroite, il est impossible, debout, de déterminer sa largeur avec précision. Pour y parvenir il faut se baisser, se placer parallèlement à la veine d‘eau et déplacer latéralement la baguette jusqu’à ce qu’elle dévie.
    </p>
    <div class="image">
      <%= image_tag 'etroite.WebP' %>
    </div>
    <p>
      Dans certains cas, il est impossible d’appliquer les règles précédentes pour déterminer la profondeur de la veine d’eau lorsqu’elle se trouve à un endroit dont la surface est limitée par un obstacle comme des murs. Pour résoudre le problème on utilise la méthode « Point Depth » proposée par le Major R. Creyke. <br>
      Elle consiste à fixer une tige de mu-métal (alliage nickel fer) sur la verticale de la veine d’eau qui a été localisée. On remarque alors que les quatre parallèles qui déterminent la largeur et la profondeur de la veine sont remplacées par deux cercles concentriques dont les rayons mesurent ces grandeurs quel que soit l’endroit où l’on se trouve.
    </p>
    <div class="image">
      <%= image_tag 'creyke.png' %>
    </div>
    <p>
      Ne disposant pas de mu-métal, je l’ai remplacé par deux ferrites superposées sur leurs faces Nord ou Sud et placées sur une surface métallique qui assure l’horizontalité, comme une boite de cachou. J’ai observé les cercles concentriques attendus. Il est important de signaler que si les ferrites sont sur leur faces mixtes, les baguettes ne donnent aucun signal. <br>
      On voit sur la figure de droite que la détermination de la profondeur est possible seulement si l’on se place en haut à droite du terrain.
    </p>
    <br>
    <h3>1.3.  Débit</h3>
    <hr class="separateur-l">
    <p>
      La détermination du débit est une opération complexe qui fait intervenir deux paramètres: <br>
      la vitesse de l’eau et la section de la veine d’eau. <br>
      On a la relation:   Débit = Vitesse x Section. <br>
      Lorsque l’on chevauche à un endroit donné une conduite d’eau dans le sens de l’écoulement, l’écartement des baguettes augmente avec le débit comme l’atteste la figure. Si l’on se met en sens contraire, le croisement des baguettes s’amplifie. C’est d’ailleurs dans ce sens que l’on se place pour effectuer les mesures. <br>
      Il est important de souligner que le signal des baguettes est directement lié à la vitesse de déplacement de l’eau et à la profondeur à laquelle elle se trouve:
      <ul>
        <li>
          Pour un même débit, à une profondeur donnée, les baguettes se croiseront d’autant plus que la section de la veine d’eau est plus petite.
        </li>
        <li>
          Pour une même vitesse, ou un même débit, le croisement des baguettes diminue avec la profondeur.
        </li>
      </ul>
    </p>
    <div class="image">
      <%= image_tag 'comparaison.jpg' %>
    </div>
    <p>
      Pour déterminer ce signal, il est nécessaire d’une part de graduer les baguettes en fonction de la vitesse de l’eau au niveau du sol, soit do=f(v), et d’autre part de connaitre la réponse des baguettes pour une vitesse donnée en fonction de la profondeur de la veine d’eau, soit d=f(p).
    </p>
    <br>
    <h4>1.3.1.  Influence de la vitesse: relation do=f(v)</h4>
    <hr class="separateur-xs">
    <p>
      J’ai pu déterminer la courbe do=f(v) en caractérisant le croisement des baguettes en fonction du débit d’un robinet relié à un tuyau de diamètre intérieur égal à 1cm situé au niveau du sol. On a la relation v (m/h) = D (m3) / S(m2) avec S = 7,8*10<sup>-5</sup>m<sup>2</sup>.
    </p>
    <p>
      Les baguettes sont graduées en fonction des vitesses, do4 correspondant à une vitesse plus élevée que do6. Chaque graduation est espacée de 4cm. <br>
      Les résultats sont regroupés dans le tableau ci-dessous.
    </p>
    <div class="image">
      <%= image_tag 'influence-vitesse.WebP' %>
    </div>
    <p>
      On constate que le croisement des baguettes est plus sensible pour les faibles vitesses. <br>
      Il suffit donc de connaitre la section de la veine d’eau en m<sup>2</sup> et le signal do de la baguette pour avoir le débit d’une veine d’eau placée au niveau du sol.
    </p>
    <div class="image">
      <%= image_tag 'graph-vitesse.WebP' %>
    </div>
    <p>
      Il est important de voir que la connaissance précise du débit implique une bonne précision sur la valeur de la section de la veine d’eau. <br>
      Pour un même débit, les baguettes sont sensibles aux variations de la vitesse liées à un changement de la section de la veine d’eau: elles se croisent d’autant plus que la section est plus petite: on a la relation S x v = S’ x v’ <br>
      Cette dernière expérience à un intérêt majeur car elle permet de conclure que le croisement des baguettes au-dessus d’une veine d’eau située à la surface du sol est directement lié à la vitesse de l’eau.
    </p>
    <div class="image">
      <%= image_tag 'veine.WebP' %>
    </div>
    <p>
      Il est indiqué dans la littérature que les débits des veines d’eau souterraines sont inférieurs à 3m<sup>3</sup>/h quand ils sont faibles, entre 3 et 9 quand ils sont moyens et entre 9 et 30 quand ils sont forts. <br>
      Si le débit lent d’une veine d’eau dans une conduite de 10cm de diamètre au niveau du sol est de 1,5m<sup>3</sup>/h, la vitesse de l’eau est égale à 190m/h. Les baguettes se croisent entre do6 et do5. Pour un débit plus rapide, voisin de 9m<sup>3</sup>/h, la vitesse est proche de 1200m<sup>3</sup>/h. Les baguettes se croisent alors en do4.
    </p>
    <br>
    <h4>1.3.2.  Influence de la profondeur: relation d=f(p)</h4>
    <hr class="separateur-xs">
    <p>
      J’ai pu déterminer la relation d=f(p) en suivant aux différents étages de mon immeuble la réponse d’une veine d’eau située au sous-sol, à une profondeur de 2m.
    </p>
    <p>
      On constate que d augmente pratiquement linéairement avec p (en m) selon la relation d = 1/3p + 4/3. La vitesse estimée de la veine d’eau lorsque l’on se trouve à son niveau, c’est à dire à p=0, correspond à la graduation do=4/3. On aboutit donc à la relation d=1/3p + do.
    </p>
    <div class="image">
      <%= image_tag 'influence-profondeur.WebP' %>
    </div>
    <p>
      Les baguettes varient d’une graduation lorsque la profondeur varie de 3m. <br>
      Il est alors possible d’évaluer par exemple le débit d’une conduite d’eau qui est située à 6m de profondeur pour laquelle les baguettes se croisent en d6: on a 6 = 6/3 + do, soit do=4, ce qui correspond, selon la courbe do=f(v), à une vitesse de 11337 m/h. Si le diamètre de la conduite est de 5cm, la valeur de S est égale à 1,9*10<sup>-3</sup> m<sup>2</sup> et le débit est égal à 11337 x 1,9*10<sup>-3</sup> = 21,7m<sup>3</sup>/h. Il passe à 5,42m<sup>3</sup>/h si le diamètre de la conduite est divisé par 2, soit 4 fois moins.
    </p>
    <br>
    <h3>1.4.  Parcours de l'eau</h3>
    <hr class="separateur-l">
    <p>
      Une fois que la veine d’eau a été détectée, il est facile de suivre son parcours en la chevauchant: les baguettes s’écartent lorsque l’on est dans le sens de l’eau et se croisent dans le sens contraire. Elles reviennent à leur position de repos lorsque l’on sort de la veine d’eau.
    </p>
    <div class="image">
      <%= image_tag 'chemin.png' %>
    </div>
    <h3>1.5.  Eau montante et eau descendante</h3>
    <hr class="separateur-l">
    <p>
      Les baguettes permettent de préciser le sens dans lequel coule l’eau dans une conduite verticale. <br>
      Lorsque l’eau descend et que l’on tourne tangentiellement autour de la conduite à une distance d, les baguettes s’éloignent de la conduite. Si l’on s‘avance face à la conduite les baguettes se croisent. On observe les signaux inversés lorsque l’eau monte. <br>
      La distance d représentée sur la figure suivante augmente avec le débit de la conduite. <br>
      Cette technique sera utilisée pour suivre la montée de la sève dans les arbres.

    </p>
    <div class="image">
      <%= image_tag 'vertical.jpg' %>
    </div>
    <br>
    <h3>1.6.  Méthode des témoins</h3>
    <hr class="separateur-l">
    <p>
      Pour chercher de l’eau à un endroit donné on prend une petite bouteille d’eau qui sert de témoin. On la pose à terre et on en fait le tour tangentiellement avec les baguettes. <br>
      A un moment, les baguettes tournent parallèlement vers une direction que l’on note. On marche alors dans cette direction, et à un moment les baguettes se dirigent dans le sens de la veine d’eau qui est ainsi détectée. On peut déplacer le témoin et refaire une autre détermination pour confirmer la première ou détecter d’autres veines d’eau éventuellement présentes localement. <br>
      Il n’y a pas de signal entre la bouteille d’eau et une ligne téléphonique qui fait également dévier les baguettes.
    </p>
    <p>
      La sensibilité de la méthode est directement liée au volume d’eau dans la bouteille et à la vitesse d’écoulement de la veine d’eau recherchée. Avec une bouteille d’un quart de litre et une valeur moyenne de débit (d4) on a pu détecter une veine d’eau qui était située à 15m de la bouteille témoin.
    </p>
    <div class="image">
      <%= image_tag 'temoins.png' %>
    </div>
    <br>
    <h2>2.  L’EAU ET LES EGLISES</h2>
    <hr class="separateur-xl">
    <p>
      De nombreux lieux de culte anciens sont construits par rapport aux veines d’eau souterraines qui apportent au lieu l’information de l’eau, source de vie, moyen de purification et centre de régénérescence. <br>
      Les constructeurs d’église romanes avaient une bonne connaissance du sous-sol aquifère du site choisi: souvent l’église romane est parcourue par une grande veine d’eau dans l’axe de la nef, dirigée vers l’Est et par plusieurs veines perpendiculaires comme l’attestent par exemple les églises de Montfermy et de Locquénolé. Il est clair que la nature n’est pas seule responsable de ces réseaux souterrains et que certains canaux ont été creusés de la main de l’homme.
    </p>
    <div class="image">
      <%= image_tag 'eglises.jpg' %>
    </div>
    <p>
      J’ai confirmé avec les baguettes qu’il en était de même à l’Église Saint Pierre d’Avon qui date des années 1100.
    </p>
    <div class="image">
      <%= image_tag 'avon.png' %>
    </div>
      On retrouve principalement dans la partie primitive de l’Église les veines d’eau qui dessinent la croix. La veine de la nef rigoureusement dirigée à l’Est est à 8m de profondeur alors que deux des trois veines rigoureusement perpendiculaires le sont à 6m, la dernière, centrale, étant à 2m. Il est probable que cette dernière résulte du travail de l’homme, comme les huit canalisations qui se croisent au centre du chœur de l’église primitive. On retrouve la même disposition à la cathédrale de Chartres où nous avons confirmé que quatorze canalisations se rencontraient effectivement sous le Chœur.
    </p>
    <div class="image">
      <%= image_tag 'choeur.WebP' %>
    </div>
    <p>
      Il ressort de cette étude que la symbolique souterraine de l’eau apparait dans les fondations de l’Église Saint-Pierre d’Avon comme à Loquénolé et à Montfermy. <br>
      La connaissance préalable du parcours de l’eau par les sourciers de l’époque a été le facteur déterminant pour décider de l’implantation de ces églises à un endroit donné.
    </p>
    <br>
    <h2>3.  CARACTERISATION DES LIQUIDES</h2>
    <hr class="separateur-xl">
    <h3>3.1.  Détection d’un volume d’eau pure</h3>
    <hr class="separateur-l">
    <p>
      Lorsque l’on se déplace vers un verre cylindrique rempli d’un volume V d’eau déposé sur le sol, les baguettes se déplacent vers le verre à partir d’une certaine distance limite D qui varie avec V et avec la température. A 22,0°, on a la relation: <br>
      D = 0,029V, D étant en m et V en ml. Il en résulte qu’il est possible d’évaluer un volume V en utilisant après étalonnage les baguettes de sourcier.
    </p>
    <div class="image">
      <%= image_tag 'eau-pure.WebP' %>
    </div>
    <p>
      La valeur de D est directement liée à la surface plane perpendiculaire à l’axe de détection, limitée par les contours du verre. Pour un même volume d’eau, D dépend de la forme du verre: dans le cas d’un verre cylindrique, D varie linéairement avec V car la hauteur de l’eau dans ce verre est proportionnelle à V, ce qui n’est pas le cas quand le verre n’est pas cylindrique. <br>
      En tournant autour du verre rempli de 200ml d’eau, il est possible avec les baguettes de tracer un cercle de 5,2m de rayon. On peut aussi tracer une série de cercles concentriques en modifiant le volume d’eau dans le verre.
    </p>
    <br>
    <h3>3.2.  Influence du contenant</h3>
    <hr class="separateur-l">
    <p>
      Les réponses varient avec la symétrie du contenant:
      <ul>
        <li>
          Lorsque l’eau est dans un verre cylindrique la détection est radiale quelle que soit la position.
        </li>
        <li>
          Lorsque l’eau se trouve dans un récipient cubique ou parallélipédique la détection n’est possible que dans les deux directions perpendiculaires aux faces verticales.
        </li>
        <li>
          Lorsque le contenant ne présente aucune symétrie, comme une bouteille de plastique déformée, la réponse est nulle.
        </li>
      </ul>
    </p>
    <div class="image">
      <%= image_tag 'contenant.WebP' %>
    </div>
    <br>
    <h3>3.3.  Influence de la position de l’opérateur</h3>
    <hr class="separateur-l">
    <p>
      Il est important de savoir dans les expériences précédentes si la position du verre par rapport à l’opérateur a une importance ou non sur les valeurs de D. Cela revient à identifier la partie du corps de l’opérateur qui joue le rôle de récepteur, sachant que le verre émet un rayonnement sur la distance D limite. <br>
      On pose le verre sur une étagère à 1,0m du sol, niveau auquel se trouvent les mains de l’opérateur placé sur la figure en A. On constate que la valeur de D limite est  égale à 0,7m. Si l’on pose le verre sur le sol à la verticale, l’opérateur qui reste en A, constate que ses baguettes ne répondent plus. Ceci est dû au fait que la distance mains - verre d’eau est supérieure à 0,7m. On constate que tout objet caractérisé au niveau des mains par une valeur de D inférieure à 1,0m ne sont plus détectables lorsqu’elles sont au sol. <br>
      Par contre si l’opérateur tient la même pièce dans la main avec les baguettes il peut détecter l’autre pièce au sol car la distance D limite est multipliée par deux, comme on le verra plus loin.
    </p>
     <div class="image">
       <%= image_tag 'position.png' %>
     </div>
    <p>
      On refait la même expérience avec un autre verre d’eau dont la valeur de D mesurée au niveau de l’étagère au point A est égale à 1,30m. Si ce verre est mis à terre, l’opérateur, qui n’a pas bougé, ne détecte plus rien car la distance entre ses mains et le verre au sol est supérieure à la valeur D limite. Il est obligé d’avancer de 0,5m en B pour retrouver le signal. La valeur de D limite passe donc de 1,3 à 0,8m suivant la position du verre. <br>
      Le point B correspond à l’intersection du cercle de rayon D = 1,3m, centré au niveau du verre sur l’étagère, avec l’horizontale du sol. <br>
      La distance AB est d’autant plus grande que D mesuré au niveau des mains de l’opérateur est petit. Inversement, on peut considérer comme négligeable la distance AB lorsque D est supérieur à 3m. Compte tenu que l’opérateur est le plus souvent debout, les valeurs de D sont données à 10cm près.
    </p>
    <p>
      Pour conclure, ce sont donc les mains de l’opérateur qui jouent le rôle de récepteur des signaux émis par les corps étudiés au niveau de ses mains. Il faut donc en tenir compte quand on veut préciser les valeurs de D correspondant à des objets proches de l’opérateur.
    </p>
    <br>
    <h3>3.4.  Influence de la température</h3>
    <hr class="separateur-l">
    <p>
      On opère sur un volume de 100ml: entre 8 et 30°, D croit linéairement avec la température. Pour les plus faibles températures on a intérêt à utiliser un volume V sensiblement plus grand que 100ml pour avoir une meilleure précision.
    </p>
     <div class="image">
        <%= image_tag 'temperature.WebP' %>
     </div>
     <p>
      On peut donc évaluer la température avec les baguettes à partir de la mesure de D si l’on dispose d’une distance suffisante.
     </p>
     <br>
    <h3>3.5.  Interaction entre deux verres d’eau</h3>
    <hr class="separateur-l">
    <p>
      Elle apparait lorsque les baguettes s’orientent au niveau de chaque verre en sens inverse de ce qui est observé avec un seul verre. <br>
      Soit deux verres identiques que l’on remplit d’eau à 20,7°. Le signal dépend de la distance Dm entre les deux verres et de la quantité d’eau: si l’on introduit le même  volume V d’eau dans les deux verres, la distance maximale de détection Dm augmente avec V:
    </p>
    <div class="image">
      <%= image_tag 'interaction.WebP' %>
    </div>
    <p>
      D représentant la distance limite déterminée pour un seul verre, on constate que Dm/D = 2 quelle que soit la valeur de V. <br>
      Dans tous les cas, le changement d’orientation des baguettes, ou point nul Z, se situe  au milieu de la distance séparant les deux verres, soit Z=0 <br>
      Si les volumes d’eau diffèrent d’un verre à l’autre, par exemple 100ml dans l’un et 200ml dans l’autre, la distance Dm croit et Z diffère de 0. Le changement d’orientation des baguettes se déplace vers le verre le moins rempli. La valeur de Z répond à la relation Z = 0,5Dm (1-Vref / V) pour V > Vref, soit Z = 1/4Dm. Cette relation est indépendante de la température. <br>
      Il est donc possible avec les baguettes d’évaluer le rapport de volumes de liquide identiques.
    </p>
    <br>
    <h3>3.6.  Influence des surfaces</h3>
    <hr class="separateur-l">
    <p>
      La surface des contenants pour un même poids d’eau joue un rôle déterminant au niveau des valeurs de Dm et de Z. <br>
      On compare les valeurs de Dm et Z selon les positions que prennent deux bouteilles de bière contenante chacune 250ml d’eau. <br>
      Les valeurs de Dm passent successivement de 4,0 à 2,0 puis 2,5m quand elles sont debout, quand les fonds se font face, et quand un fond fait face à une bouteille debout. La valeur de Z est égale à 0 dans les deux premiers cas et diffère de zéro quand les  surfaces opposées sont différentes. <br>
      Pour un même poids d’eau, les surfaces mises en jeu sont donc déterminantes.
    </p>
    <div class="image">
      <%= image_tag 'liquide.png' %>
    </div>
    <p>
      Il faut signaler que la détermination des surfaces à partir de la mesure de Z est souvent plus difficile que celle réalisée sur chaque surface isolée, en particulier lorsque leur rapport est élevé.
     </p>
     <br>
    <h2>4.  CARACTERISATION DES SOLUTIONS</h2>
    <hr class="separateur-xl">
    <p>
      L’introduction d’un soluté dans un liquide modifie souvent la réponse des baguettes. Les cas des solutions aqueuses de NaCl puis des liquides alimentaires sont examinés.
    </p>
    <br>
    <h3>4.1.  Solution de NaCl: mesure de D</h3>
    <hr class="separateur-l">
    <p>
      On veut caractériser la concentration des solutions par la mesure de D pour un  volume V = 100ml. On prépare une solution de NaCl à la concentration 0,17M en introduisant 5g de NaCl (PM = 58,5g) dans 1 litre. La valeur de D correspondant à cette concentration élevée est non mesurable car trop petite. Les essais réalisés après dilution à 21,7° sur le même volume de 100ml montrent que la distance D diminue à mesure que la conductivité de la solution augmente. Le remplacement de NaCl par HCl à la même concentration entraine des variations de D plus importante, la conductibilité &#955<sub>H<sup>+</sup></sub> étant supérieure à &#955<sub>Na<sup>+</sup></sub>.
    </p>
    <div class="image">
      <%= image_tag 'graftab.png' %>
    </div>
    <p>
      Il faut remarquer que la mesure réalisée en absence de NaCl porte en réalité sur l’eau du robinet qui contient un certain nombre d’ions. Il serait intéressant de comparer sa réponse avec celle de l’eau distillée.
    </p>
    <br>
    <h3>4.2.  Une solution de concentration connue Co est utilisée comme réfèrent</h3>
    <hr class="separateur-l">
    <p>
      Lorsque la concentration Co est la même dans les deux verres, le changement d’orientation des baguettes apparait à mi-distance des verres: Z=0.
    </p>
    <p>
      Si Cx > Co, ce changement se rapproche du verre référent contenant la solution la plus diluée Co. <br>
      Z est compté positivement et obéit à la relation Z = 0,5Dm (1-Co/Cx).
    </p>
    <p>
      SI Cx < Co le changement d’orientation des baguettes se déplace vers l’autre verre. <br>
      Z est alors négatif: Z = -0,5Dm (1-Cx/Co).
    </p>
    <p>
      Lorsque la concentration Cx est élevée, la mesure devient difficile: <br>
      si V = V’ et Cx / Co = 10, le calcul indique que Z = 0,45Dm. <br>
      Si Dm = 10m, on se trouve alors à 0,05Dm soit à 50cm du verre référent, ce qui devient limite pour une mesure précise. <br>
      On dilue alors la solution à analyser ou on la compare à un référent plus concentré.
    </p>
    <div class="image">
      <%= image_tag 'concentration.png' %>
    </div>
    <p>
      Il est important de signaler qu’il n’existe pas d’interaction entre un verre d’eau pure et un verre contenant NaCl 8,5*10<sup>-5</sup>M. L’utilisation de l’eau pure comme référent est donc impossible.
    </p>
    <p>
      Les mesures se faisant debout, il est important de pouvoir disposer de la distance maximale surtout lorsque l’on augmente sensiblement la concentration. On a donc intérêt à opérer sur des volumes importants pour accroitre la valeur de Dm.
    </p>
    <br>
    <h3>4.3.  Liquides alimentaires</h3>
    <hr class="separateur-l">
    <h4>4.3.1.  Comportement de l'eau sucré</h4>
    <hr class="separateur-xs">
    <p>
      On prépare une solution de sucre en mettant 1 morceau dans 500ml d’eau. On  ajoute de 0,5 à 3ml de cette solution dans un volume V=100ml. <br>
      Cet ajout entraine une diminution sensible de la valeur de D qui passe de 3,0 à 0,6m.
    </p>
    <div class="image">
      <%= image_tag 'eau-sucre.WebP' %>
    </div>
    <p>
      Cette diminution n’est pas due à un accroissement de conductivité comme avec NaCl car les solutions sucrées ne sont pas conductrices. <br>
      Il est connu que l’ajout de sucre provoque la destruction du réseau tétraédrique de l’eau qui se traduit par une augmentation de la viscosité des solutions. <br>
      Il n’est pas exclu que la valeur de D varie avec la nature du sucre analysé. On a les mêmes résultats avec le Candérel: la valeur de D relative à un volume de 100ml d’eau passe successivement de 3,0 à 1,1 puis à 0,5m après ajout d’un puis de deux comprimés.
    </p>
    <br>
    <h4>4.3.2.  Eau + café, eau + thé</h4>
    <hr class="separateur-xs">
    <p>
      Les baguettes ne donnent aucun signal devant une tasse de thé ou de café, froide ou chaude. On constate que les solutions sont troubles. On retrouvera ce comportement dans le cas de l’eau légèrement savonneuse.
    </p>
    <p>
      Comme nous le verrons plus loin l’eau peut inhiber le signal d’une pièce de monnaie. Par contre je constate que la tasse de thé ou de café ne l’inhibe pas.
    </p>
    <br>
    <h4>4.3.3.  Essais divers</h4>
    <hr class="separateur-xs">
    <p>
      Les essais ont été réalisés sur un volume V=100 ml pour les différents liquides à 21,7°.
    </p>
    <div class="image">
      <%= image_tag 'tab-liquides.WebP' %>
      <%= image_tag 'tab-minerales.WebP' %>
    </div>
    <p>
      <ul>
        <li>
          Les valeurs de D pour l’huile, la bière sont nettement supérieures à celle de l’eau, alors que celles du cidre du vinaigre, de la Quetsche sont sensiblement inférieures.
        </li>
        <li>
          Le Martini et l’eau donnent des résultats pratiquement identiques. Il sera intéressant de voir si les vins d’origine différente se comportent de la même manière.
        </li>
        <li>
          La réponse du lait disparait si l’on y ajoute du thé ou du café. Elle diminue si l’on y ajoute du sucre.
        </li>
        <li>
          Il y a de fortes différences entre les eaux minérales. D diminue quand la charge minérale à sec augmente.
        </li>
        <li>
          Il n’y pas d’interaction entre l’eau pure et ces divers liquides ou entre ces liquides.
        </li>
      </ul>
    </p>
    <br>
    <h4>4.3.4.  Influence de la température sur les mesures de D</h4>
    <hr class="separateur-xs">
    <p>
      La caractérisation d’un liquide par sa valeur D implique un contrôle strict de la température. <br>
      Pour un volume V de 100ml, quand la température passe de 21,0° à 14,0°, la valeur de D pour l’eau passe de 3,0m à 1,8m et celle de la bière de 5,0m à 3,0m. <br>
      Lors de l‘étude des interactions entre deux liquides, il est impératif qu’ils soient tous deux à la même température: les baguettes ne donnent plus de signal lorsqu’il y a plus de 1,5° entre les deux verres. <br>
      Il est donc possible avec les baguettes de mettre en évidence de faibles différences de température entre deux liquides de même composition.
    </p>
    <br>
    <h4>4.3.5.  Suivi de réactions chimiques</h4>
    <hr class="separateur-xs">
    <p>
      L’étude précédente menée sur les solutions de KCl montrent que les baguettes sont capables de détecter la présence des ions en solution, jouant ainsi le rôle d’un conductimètre. <br>
      Ce paragraphe a pour objet de présenter quelques applications basées sur la détection des ions montrant l’efficacité des baguettes pour déterminer la force des acides et des bases dans l’eau, de réaliser des titrages, et de donner des informations sur les propriétés de quelques solvants non aqueux.
    </p>
    <p>
      Force des acides et des bases dans l’eau <br>
      On détermine la limite de détection D au sol des solutions d’acide et de base, de concentration croissante, contenues dans un volume V=100ml. <br>
      Les courbes D=f(C) relatives aux acides HCl, AcOH et PhOH montrent que la valeur de D pour une concentration donnée est d’autant plus faible que l’acide ou la base est plus fort: HCl est totalement dissocié alors que l’acide acétique ne l’est que partiellement et génère donc moins d’ions, le phénol PhOH n’est pratiquement pas dissocié. <br>
      Il en est de même pour NH<sub>3</sub> qui est une base faible dans l’eau et génère moins d’ions que la soude à concentration égale et plus que la pyridine. <br>
      Le signal de la baguette est directement lié à la conductance des solutions qui est donnée pour HCl par la relation &#923 = c(&#955<sub>H<sup>+</sup></sub> + &#955<sub>Cl<sup>-</sup></sub>) où c’est la concentration et &#955<sub>H<sup>+</sup></sub> et &#955<sub>Cl<sup>-</sup></sub> la conductibilité du proton et de Cl<sup>-</sup>.
    </p>
    <div class="image">
      <%= image_tag 'graph.WebP' %>
    </div>
    <p>
      Les valeurs de conductibilité des ions et des solutés sont rassemblées dans le tableau suivant: les valeurs de &#955 sont d’autant plus élevées que l’ion est plus conducteur. C’est le cas pour les ions H<sup>+</sup> et HO<sup>-</sup>.
    </p>
    <div class="image">
      <%= image_tag 'acide-base.WebP' %>
    </div>
    <p>
      Les équilibres mis en jeu sont les suivants:
    </p>
    <div class="image">
      <%= image_tag 'equations.png' %>
    </div>
    <p>
      <strong>Titrages acide base</strong> <br>
      L’utilisation des baguettes permet également de suivre les titrages acides bases. <br>
      On prend des volumes V importants et une concentrations c en acide relativement faible pour évaluer les distances D avec suffisamment de précision. On choisit une solution concentrée en NaOH de telle manière que son ajout ne modifie pratiquement pas le volume de la solution.
    </p>
    <p>
      La réaction de titrage de HCl par la soude est la suivante: HCl + NaOH = NaCl + H<sub>2</sub>O <br>
      Au départ la conductance de la solution est &#923 = c(&#955<sub>H<sup>+</sup></sub> + &#955<sub>Cl<sup>-</sup></sub>) = 395c. Lors de  l’ajout de soude on remplace progressivement dans la solution HCl par NaCl. La conductance diminue car &#955<sub>H<sup>+</sup></sub> > &#955<sub>Na<sup>+</sup></sub>. Au point équivalent on a NaCl à la concentration c soit &#923 = 95c. <br>
      Après le point équivalent la conductance augmente lors de l’addition de c' de soude: <br>
      &#923 = &#923<sub>NaCl</sub> + &#923<sub>NaOH</sub> = 95c + 250c’
    </p>
    <div class="image">
      <%= image_tag 'dosage.png' %>
    </div>
    <p>
      La réaction de titrage de AcOH par NH<sub>3</sub> est la suivante AcOH + NH<sub>3</sub> = AcO<sup>-</sup> + NH<sub>4</sub><sup>+</sup> <br>
      Au départ la solution est peu conductrice car AcOH est un acide faible. L’ajout de NH<sub>3</sub> forme NH<sub>4</sub>Cl qui est conducteur (73,4 + 45). Après le point équivalent, on note une faible variation de D car NH<sub>3</sub> est une base faible et génère peu d’ions.
    </p>
    <p>
      Caractérisation des solvants autres que l’eau <br>
      Sur le plan de la Chimie, il sera intéressant d’examiner le comportement de solvants présentant, par exemple, des analogies au niveau des conductivités, des viscosités, des constantes diélectriques, et de suivre leurs évolutions au cours de réactions chimiques ayant un intérêt industriel (titrages, extraction liquide-liquide).
    </p>
    <p>
      L'étude est en cours
    </p>
    <br>
    <h2>5.  CONCLUSION</h2>
    <hr class="separateur-xl">
    <P>
      Il ressort de cette étude sur les liquides que l’utilisation des baguettes permet de caractériser des milieux les plus divers, en évaluant les volumes engagés, les concentrations, les températures, et de suivre éventuellement leur évolution au cours d’un titrage ou d’un processus chimique. <br>
      Il apparait que la génération d’ions au cours d’une réaction est souvent le facteur déterminant qui agit sur le signal des baguettes. Le fait qu’elles se comportent pratiquement comme un conductimètre offre de multiples possibilités dans les secteurs les plus variés.
    </P>
  </div>
</div>
