<div class="section home">
  <div class="home-top">
    <div class="home-title">
      <h1>SOURCIER<span class="bull">&bull;</span>PHYSICO<span class="bull">&bull;</span>CHIMISTE</h1>
      <div class="home-text text-center">
        <h5>
          vous présente des expériences réalisées avec <br>
          des baguettes de sourcier
        </h5>
      </div>
    </div>
  </div>
  <div class="home-down">
    <div class="header-text text-center">
      <p>Sélectionner une expérience pour en savoir plus</p>
    </div>
    <div class="experiences">
      <%= link_to eau_path, class: 'logo-links' do %>
        <div class="experience-card">
          <div class="experience-icon bg-eau">
            <%= image_tag 'ikn-eau.WebP' %>
          </div>
          <div class="experience-text">
            <h4 class="expe">eau</h4>
          </div>
        </div>
      <% end %>
      <%= link_to electricite_path, class: 'logo-links' do %>
        <div class="experience-card">
          <div class="experience-icon bg-electricite">
            <%= image_tag 'ikn-electricite.WebP' %>
          </div>
          <div class="experience-text">
            <h4 class="expe">electricite</h4>
          </div>
        </div>
      <% end %>
      <%= link_to magnetisme_path, class: 'logo-links' do %>
        <div class="experience-card">
          <div class="experience-icon bg-magnetisme">
            <%= image_tag 'ikn-magnetisme.WebP' %>
          </div>
          <div class="experience-text">
            <h4 class="expe">magnetisme</h4>
          </div>
        </div>
      <% end %>
      <%= link_to ondes_path, class: 'logo-links' do %>
        <div class="experience-card">
          <div class="experience-icon bg-ondes">
            <%= image_tag 'ikn-ondes.WebP' %>
          </div>
          <div class="experience-text">
            <h4 class="expe">ondes</h4>
          </div>
        </div>
      <% end %>
      <%= link_to cristaux_path, class: 'logo-links' do %>
        <div class="experience-card">
          <div class="experience-icon bg-cristals">
            <%= image_tag 'ikn-cristaux.WebP' %>
          </div>
          <div class="experience-text">
            <h4 class="expe">cristaux</h4>
          </div>
        </div>
      <% end %>
      <%= link_to metaux_path, class: 'logo-links' do %>
        <div class="experience-card">
          <div class="experience-icon bg-metaux">
            <%= image_tag 'ikn-metaux.WebP' %>
          </div>
          <div class="experience-text">
            <h4 class="expe">metaux</h4>
          </div>
        </div>
      <% end %>
      <%= link_to biologie_path, class: 'logo-links' do %>
        <div class="experience-card">
          <div class="experience-icon bg-biologie">
            <%= image_tag 'ikn-biologie.WebP' %>
          </div>
          <div class="experience-text">
            <h4 class="expe">biologie</h4>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="section" id="info">
  <div class="sub-section">
    <div class="main-title text-center">
      <h2>La Physique, la Chimie, la Biologie et un Sourcier amateur</h2>
    </div>

    <p>
      Cette étude fait suite à celle que j’ai entreprise pour la caractérisation du parcours de l’eau et la découverte de structures disparues au Château de Fontainebleau. Les résultats font l’objet du site www.eauduparc.com
    </p>
    <p>
      J’ai voulu sur ce site montrer les possibilités qu’offrent les baguettes de sourcier dans des secteurs différents qui touchent à la Chimie, à la Physique et un peu à la Biologie.
    </p>
    <p>
      Si le domaine le plus pratiqué par le sourcier est la recherche de l’eau, d’autres problèmes concernant le milieu liquide peuvent également être abordés avec les baguettes comme mesurer des volumes, évaluer la
      concentration de solutions aqueuses en sel ou en sucre, différencier des liquides alimentaires, suivre des réactions chimiques.
    </p>
    <p>
      Les baguettes étant depuis longtemps utilisées par les mineurs pour la détection des métaux, j’ai cherché à savoir comment les différencier selon leur nature et comment on pouvait détecter des pièces fausses. Tester l’efficacité des isolants solides et liquides et suivre des réactions chimiques entrainant des changements de conductivité ont été abordés.
    </p>
    <p>
      A ma connaissance peu d‘expériences ont été menées sur les cristaux, enparticulier sur les sulfures conducteurs tel que la pyrite et la galène et sur la magnétite Fe<sub>3</sub>O<sub>4</sub>. Leurs axes de symétrie et leur orientation ont été déterminés.
    </p>
    <p>
      L’influence toute particulière que jouent les aimants sur la détection avec les baguettes est soulignée. Les caractéristiques des ferrites non conductrices et de la magnétite sont précisées ainsi que leur rôle inhibiteur sur la détection de l’eau et des conducteurs.
    </p>
    <p>
      Au niveau de l’électricité les baguettes sont capables de suivre un courantcontinu et d’évaluer son intensité se comportant comme un ampèremètre. Elles permettent aussi de caractériser la charge d’une pile électrique et de reconnaitre une ligne téléphonique aérienne ou souterraine.
      <br>
      Au niveau du courant alternatif, il est possible de préciser d’où viennent les lignes aboutissant à des prises de courant et de tester des branchements.
    </p>
    <p>
      Les quelques expériences menées en biologie montrent qu’il est possible de suivre la montée de la sève dans les arbres, montée qui s’arrête avec la chute des feuilles.
      <br>
      Dans certains cas les baguettes indiquent que les anomalies observées sur l’allure d’un arbre sont souvent liées au fait qu’une veine d’eau passe sous ses pieds.
    </p>
    <div class="signature text-right">
      <p>J. Bessière</p>
    </div>
  </div>
</div>

<div class="section" id="auteur">
  <div class="sub-section">
    <div class="main-title text-center">
      <h2>LE SOURCIER AMATEUR</h2>
    </div>
    <p>
      Ancien Professeur d’Université en Chimie Physique à Nancy, je me suis intéressé à la radiesthésie à la suite de la lecture des ouvrages d'Armand Viré et d’Yves Rocard, qui a été directeur du Laboratoire de Physique de l’École Normale Supérieure, dont la spécialité était le magnétisme, et qui a cherché à expliquer par la Physique le signal sourcier.
    </p>
    <p>
      Deux informations m'ont conduit à me lancer dans la pratique de cette « discipline »: le journal local, l’Est Républicain, publiait il y a une trentaine d’années, en première page, un article indiquant que 80% des fuites d’eau à Nancy étaient détectées avec les baguettes de sourcier. J'apprenais de plus que des cours de radiesthésie étaient donnés aux géologues dans certaines universités russes pour la recherche de l’eau et des minerais.
    </p>
    <p>
      J'ai alors effectué de premiers essais sur des sites connus puis inconnus et des bons résultats que j'obtenais, j'en ai déduit que je faisais partie, selon Yves Rocard, des 80% de personnes capables de détecter et de suivre les eaux souterraines, à condition de bien s’y préparer.
    </p>
    <p>
      Désormais davantage disponible, j'ai mis à profit mon expérience dans ce domaine pour suivre l’eau et détecter des structures disparues autour du Château de Fontainebleau.
    </p>
  </div>
</div>

<div class="section" id="contact">
  <div class="contact-header text-center">
    <h2>CONTACT</h2>
  </div>
  <div class="contact-body">
    <h5>Pour poser toutes vos questions ou commentaires</h5>

    <%= link_to 'mailto:jmbessiere@gmail.com',
      id: 'mail-contact',
      data: {   controller: 'trackers',
                event: 'Contact',
                action: 'click->trackers#activateTracker'
      } do %>

      <i class="far fa-envelope fa-5x"></i>
    <% end %>
  </div>
</div>
